body {
    margin: 0;
    padding: 0;
}

header { 
    position: relative; 
}

header h1 {
    margin-left: 20px;
    text-align: center;
}

header h2 {
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 24px;
}

table, th, td {
    padding: 4px;
    border: 1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
}